In [1]:
!pip install nltk

Requirement already satisfied: nltk in ./opt/anaconda3/lib/python3.8/site-packages (3.5)
Requirement already satisfied: joblib in ./opt/anaconda3/lib/python3.8/site-packages (from nltk) (0.16.0)
Requirement already satisfied: regex in ./opt/anaconda3/lib/python3.8/site-packages (from nltk) (2020.6.8)
Requirement already satisfied: tqdm in ./opt/anaconda3/lib/python3.8/site-packages (from nltk) (4.47.0)
Requirement already satisfied: click in ./opt/anaconda3/lib/python3.8/site-packages (from nltk) (7.1.2)

In [2]:
import nltk
import re
from string import punctuation
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
# nltk.download("wordnet")
# nltk.download("punkt")
# nltk.download("stopwords")

def normalization(text):
    p_text = re.sub(f"[{re.escape(punctuation)}]", "", text)
    p_text = " ".join(p_text.split())
#     p_text.lower()
    return p_text

def Lemmatization(text):
    wordnet_lemmatizer = WordNetLemmatizer()
    tokens = word_tokenize(text)
    required_words = [wordnet_lemmatizer.lemmatize(x, 'v') for x in tokens]
    # sentence = " ".join(required_words)
    return required_words


def lemmatize_sentence(sentence):
    lemmatizer = WordNetLemmatizer()
    words = nltk.word_tokenize(sentence)
    lemmatized_words = [lemmatizer.lemmatize(word) for word in words]
#     lemmatized_sentence = ' '.join(lemmatized_words)
    return lemmatized_words

def remove_stop_words(words):
    stop_words = set(stopwords.words('english'))
    final_query = set(words)-set(stop_words)
    return list(final_query)

In [3]:
# nltk.download('averaged_perceptron_tagger')
from nltk.tag import pos_tag

def create_pos_tag(sent):
    sent = nltk.pos_tag(sent)
    return sent

In [4]:
#function call
query = input("enter query: ") # Give 4 sneakers whose color is white


nor_query = normalization(query)
print(nor_query)

lem_query = lemmatize_sentence(nor_query)
print(lem_query)
# final_query = remove_stop_words(lem_query)
tags = create_pos_tag(lem_query)

# print(final_query)
print(tags)

enter query: Give me all the sizes avaliable for Adidas Tennis Hu Shoes
Give me all the sizes avaliable for Adidas Tennis Hu Shoes
['Give', 'me', 'all', 'the', 'size', 'avaliable', 'for', 'Adidas', 'Tennis', 'Hu', 'Shoes']
[('Give', 'VB'), ('me', 'PRP'), ('all', 'PDT'), ('the', 'DT'), ('size', 'NN'), ('avaliable', 'JJ'), ('for', 'IN'), ('Adidas', 'NNP'), ('Tennis', 'NNP'), ('Hu', 'NNP'), ('Shoes', 'NNP')]

In [5]:
#seprating the tags
sub_cla = "_".join([x[0] for x in tags if x[1] == "NNP" ])
cla = [x[0] for x in tags if x[1] == "NN" ]
data_prop = [x[0] for x in tags if x[1] == "JJ"]
print(sub_cla, cla, data_prop)

Adidas_Tennis_Hu_Shoes ['size'] ['avaliable']

In [5]:
# !pip install SPARQLWrapper

In [6]:
#Query1 Give 4 sneakers whose color is white
from SPARQLWrapper import SPARQLWrapper2
sparql = SPARQLWrapper2("http://localhost:3030/snickers/query")
sparql.setQuery(f"""
                PREFIX sn: <http://www.sneaker_head.com/sneaker_head#>
                SELECT ?model_name ?price ?color
                WHERE {{
                  ?x a sn:{sub_cla}.
                  ?x sn:Model ?model_name.
                  ?x sn:price ?price.
                  ?x sn:color ?color. 
                  FILTER (CONTAINS(?color, "{data_prop[0].capitalize()}"))
                  }}
                  ORDER BY ASC(?price)
                """)
data = sparql.query().bindings

for x in data:
    print(f"{x['model_name'].value}\t {x['price'].value}\t {x['color'].value} ")

IndexError: list index out of range

In [29]:
from SPARQLWrapper import SPARQLWrapper2
query = input("enter query: ") # Give 4 sneakers whose color is white

nor_query = normalization(query)
print(nor_query)
lem_query = lemmatize_sentence(nor_query)
print(lem_query)
# final_query = remove_stop_words(lem_query)
tags = create_pos_tag(lem_query)

# print(final_query)
print(tags)

print("\n\n\n")

cla = [x[0] for x in tags if x[1] == "NNP" ]
data_prop = [x[0] for x in tags if x[1] == "NN" ]
ind = [x[0] for x in tags if x[1] == "JJ"]
lim = [x[0] for x in tags if x[1] == "CD"]
print(cla, data_prop,ind,lim)

print("\n\n\n")

sparql = SPARQLWrapper2("http://localhost:3030/snickers/query")
sparql.setQuery(f"""
                PREFIX sn: <http://www.sneaker_head.com/sneaker_head#>
                SELECT ?model_name ?price ?color
                WHERE {{
                  ?x a sn:{cla[0]}.
                  ?x sn:Model ?model_name.
                  ?x sn:{data_prop[0]} ?price.
                  ?x sn:{data_prop[1]} ?color. 
                  FILTER (CONTAINS(?color, '{ind[0].capitalize()}'))
                  }}
                  ORDER BY ASC(?price)
                  LIMIT {lim[0]}
                """)



data = sparql.query().bindings

for x in data:
    print(f"{x['model_name'].value}\t {x['color'].value} \t {x['price'].value} "),

enter query: price of 4 Sneaker of white color
price of 4 Sneaker of white color
['price', 'of', '4', 'Sneaker', 'of', 'white', 'color']
[('price', 'NN'), ('of', 'IN'), ('4', 'CD'), ('Sneaker', 'NNP'), ('of', 'IN'), ('white', 'JJ'), ('color', 'NN')]




['Sneaker'] ['price', 'color'] ['white'] ['4']




Adidas Tennis Hu Shoes	 White 	 110 Pounds
1s Travis Low Cactsus Jack	 White, Green and Brown 	 179 Pounds
LeBron XXI Akoya	 White 	 185.49 Pounds
Air Jordan 4 Retro	 Blood Red and White 	 189 Pounds

In [6]:
from SPARQLWrapper import SPARQLWrapper2
query = input("enter query: ") # Give me all the sizes avaliable for Adidas Tennis Hu Shoes

nor_query = normalization(query)
print(nor_query)
lem_query = lemmatize_sentence(nor_query)
print(lem_query)
# final_query = remove_stop_words(lem_query)
tags = create_pos_tag(lem_query)

# print(final_query)
print(tags)

print("\n\n\n")

ind = '_'.join([x[0] for x in tags if x[1] == "NNP" ])
data_prop = [x[0] for x in tags if x[1] == "NN" ]
#ind = [x[0] for x in tags if x[1] == "JJ"]
# lim = [x[0] for x in tags if x[1] == "CD"]
print(data_prop,ind)

print("\n\n\n")

sparql = SPARQLWrapper2("http://localhost:3030/snickers/query")
sparql.setQuery(f"""
                PREFIX sn: <http://www.sneaker_head.com/sneaker_head#>
                SELECT ?m_name (GROUP_CONCAT(?size; SEPARATOR=", ") AS ?sizes)
WHERE{{
?x a sn:Sneaker.
?y a sn:Size.
?x sn:avaliable_size ?y.
?x sn:Model ?m_name.
?y sn:Size ?size.
FILTER(?m_name = '{ind.replace('_', ' ')}')
}}
GROUP BY ?m_name
                """)



data = sparql.query().bindings

for x in data:
    print(f"{x['m_name'].value}\t {x['sizes'].value}")

enter query: Give me all the sizes avaliable for Adidas Tennis Hu Shoes
Give me all the sizes avaliable for Adidas Tennis Hu Shoes
['Give', 'me', 'all', 'the', 'size', 'avaliable', 'for', 'Adidas', 'Tennis', 'Hu', 'Shoes']
[('Give', 'VB'), ('me', 'PRP'), ('all', 'PDT'), ('the', 'DT'), ('size', 'NN'), ('avaliable', 'JJ'), ('for', 'IN'), ('Adidas', 'NNP'), ('Tennis', 'NNP'), ('Hu', 'NNP'), ('Shoes', 'NNP')]




['size'] Adidas_Tennis_Hu_Shoes




Adidas Tennis Hu Shoes	 UK_10, UK_10.5, UK_11, UK_11.5, UK_12, UK_6, UK_6.5, UK_7, UK_7.5, UK_8, UK_8.5, UK_9, UK_9.5, UK_10, UK_6, UK_7, UK_8, UK_9

In [30]:
from SPARQLWrapper import SPARQLWrapper2
query = input("enter query: ") # give sneakers form colab of Nike and Lebron James

nor_query = normalization(query)
print(nor_query)
lem_query = lemmatize_sentence(nor_query)
print(lem_query)
# final_query = remove_stop_words(lem_query)
tags = create_pos_tag(lem_query)

# print(final_query)
print(tags)

print("\n\n\n")

ind = '_'.join([x[0] for x in tags if x[1] == "NNP" or x[1] == 'CC' ])
classes = [x[0] for x in tags if x[1] == "NN" ]
#ind = [x[0] for x in tags if x[1] == "JJ"]
# lim = [x[0] for x in tags if x[1] == "CD"]
print(data_prop,ind)

print("\n\n\n")

sparql = SPARQLWrapper2("http://localhost:3030/snickers/query")
sparql.setQuery(f"""
                PREFIX sn: <http://www.sneaker_head.com/sneaker_head#>
                SELECT ?m_name ?cp

 WHERE {{
?x a sn:{classes[0].capitalize()}.
?y a sn:People_{classes[2]}.
?x sn:is_from_colab ?y.
?x sn:Model ?m_name.
?y sn:{classes[2]}_people ?cp
  FILTER(?cp = '{ind}')
}}
                """)


data = sparql.query().bindings

for x in data:
    print(f"{x['m_name'].value}\t {x['cp'].value}")

enter query: give sneakers form colab of Nike and Lebron James
give sneakers form colab of Nike and Lebron James
['give', 'sneaker', 'form', 'colab', 'of', 'Nike', 'and', 'Lebron', 'James']
[('give', 'JJ'), ('sneaker', 'NN'), ('form', 'NN'), ('colab', 'NN'), ('of', 'IN'), ('Nike', 'NNP'), ('and', 'CC'), ('Lebron', 'NNP'), ('James', 'NNP')]




['sneaker', 'form', 'colab'] Nike_and_Lebron_James




LeBron NXXT Gen	 Nike_and_Lebron_James
LeBron XXI Akoya	 Nike_and_Lebron_James

In [40]:
from SPARQLWrapper import SPARQLWrapper2
query = input("enter query: ") # give me 3 sneakers made of material Leather

nor_query = normalization(query)
print(nor_query)
lem_query = lemmatize_sentence(nor_query)
print(lem_query)
# final_query = remove_stop_words(lem_query)
tags = create_pos_tag(lem_query)

# print(final_query)
print(tags)

print("\n\n\n")

ind = '_'.join([x[0] for x in tags if x[1] == "NNP"])
classes = [x[0] for x in tags if x[1] == "NN" ]
#ind = [x[0] for x in tags if x[1] == "JJ"]
lim = [x[0] for x in tags if x[1] == "CD"]
print(classes,ind, lim)

print("\n\n\n")

sparql = SPARQLWrapper2("http://localhost:3030/snickers/query")
sparql.setQuery(f"""
                PREFIX sn: <http://www.sneaker_head.com/sneaker_head#>
                SELECT ?m_name ?mn

WHERE {{
?x a sn:{classes[0].capitalize()}.
?y a sn:{classes[1].capitalize()}.
?x sn:is_made_of ?y.
?x sn:Model ?m_name.
?y sn:Material_Name ?mn
FILTER(?mn = '{ind}')
  
}}
LIMIT {lim[0]}
                """)


data = sparql.query().bindings

for x in data:
    print(f"{x['m_name'].value}\t {x['mn'].value}")

enter query: give me 3 sneakers made of material Leather
give me 3 sneakers made of material Leather
['give', 'me', '3', 'sneaker', 'made', 'of', 'material', 'Leather']
[('give', 'VB'), ('me', 'PRP'), ('3', 'CD'), ('sneaker', 'NN'), ('made', 'VBN'), ('of', 'IN'), ('material', 'NN'), ('Leather', 'NNP')]




['sneaker', 'material'] Leather ['3']




Air Jordan 1 Mid SE	 Leather
ADIDAS ORIGINALS STAN SMITH 80S	 Leather
Air Jordan 1 Retro High OG	 Leather

In [16]:
from SPARQLWrapper import SPARQLWrapper2
query = input("enter query: ") # list of all the Adidas Tennis Hu Shoes model sneaker size availiability

nor_query = normalization(query)
print(nor_query)
lem_query = lemmatize_sentence(nor_query)
print(lem_query)
# final_query = remove_stop_words(lem_query)
tags = create_pos_tag(lem_query)

# print(final_query)
print(tags)

print("\n\n\n")

ind = '_'.join([x[0] for x in tags if x[1] == "NNP"])
classes = [x[0] for x in tags if x[1] == "NN" ]
#ind = [x[0] for x in tags if x[1] == "JJ"]
lim = [x[0] for x in tags if x[1] == "CD"]
print(classes,ind, lim)

print("\n\n\n")

sparql = SPARQLWrapper2("http://localhost:3030/snickers/query")
sparql.setQuery(f"""
                PREFIX sn: <http://www.sneaker_head.com/sneaker_head#>
                SELECT  ?m_name ?avl ?avlsize


WHERE {{
    ?x a sn:{classes[2].capitalize()}.
    ?y a sn:{classes[3].capitalize()}.
    ?x sn:avaliable_size ?y.
    ?y sn:size ?avlsize.
    ?x sn:{classes[1].capitalize()} ?m_name.
    ?x sn:{classes[4].capitalize()} ?avl.
    FILTER (?avl = "In Stock" && ?m_name = "{ind.replace('_', ' ')}")
  }}

                """)

# print(sparql)
data = sparql.query().bindings

for x in data:
    print(f"{x['m_name'].value}\t {x['avlsize'].value}")
    
    
# list of all the Adidas Tennis Hu Shoes model sneaker size availiability

enter query: list of all the Adidas Tennis Hu Shoes model sneaker size availiability
list of all the Adidas Tennis Hu Shoes model sneaker size availiability
['list', 'of', 'all', 'the', 'Adidas', 'Tennis', 'Hu', 'Shoes', 'model', 'sneaker', 'size', 'availiability']
[('list', 'NN'), ('of', 'IN'), ('all', 'PDT'), ('the', 'DT'), ('Adidas', 'NNP'), ('Tennis', 'NNP'), ('Hu', 'NNP'), ('Shoes', 'NNP'), ('model', 'NN'), ('sneaker', 'NN'), ('size', 'NN'), ('availiability', 'NN')]




['list', 'model', 'sneaker', 'size', 'availiability'] Adidas_Tennis_Hu_Shoes []




Adidas Tennis Hu Shoes	 UK_10
Adidas Tennis Hu Shoes	 UK_10.5
Adidas Tennis Hu Shoes	 UK_11
Adidas Tennis Hu Shoes	 UK_11.5
Adidas Tennis Hu Shoes	 UK_12
Adidas Tennis Hu Shoes	 UK_6
Adidas Tennis Hu Shoes	 UK_6.5
Adidas Tennis Hu Shoes	 UK_7
Adidas Tennis Hu Shoes	 UK_7.5
Adidas Tennis Hu Shoes	 UK_8
Adidas Tennis Hu Shoes	 UK_8.5
Adidas Tennis Hu Shoes	 UK_9
Adidas Tennis Hu Shoes	 UK_9.5

In [22]:
from SPARQLWrapper import SPARQLWrapper2
query = input("enter query: ") # list down the price of sneakers from low to high which has color White

nor_query = normalization(query)
print(nor_query)
lem_query = lemmatize_sentence(nor_query)
print(lem_query)
# final_query = remove_stop_words(lem_query)
tags = create_pos_tag(lem_query)

# print(final_query)
print(tags)

print("\n\n\n")

ind = '_'.join([x[0] for x in tags if x[1] == "NNP"])
classes = [x[0] for x in tags if x[1] == "NN" ]
#ind = [x[0] for x in tags if x[1] == "JJ"]
lim = [x[0] for x in tags if x[1] == "CD"]
print(classes,ind, lim)

print("\n\n\n")

sparql = SPARQLWrapper2("http://localhost:3030/snickers/query")
sparql.setQuery(f"""
                PREFIX sn: <http://www.sneaker_head.com/sneaker_head#>
                SELECT ?model_name ?price ?color
                WHERE {{
                  ?x a sn:{classes[2].capitalize()}.
                  ?x sn:Model ?model_name.
                  ?x sn:{classes[1]} ?price.
                  ?x sn:{classes[3]} ?color. 
                  FILTER (CONTAINS(?color, "{ind}"))
                  }}
                  ORDER BY ASC(?price)
                  LIMIT 4

                """)

# print(sparql)
data = sparql.query().bindings

for x in data:
    print(f"{x['model_name'].value}\t {x['price'].value}\t {x['color'].value}")
    
    
# list down the price of sneakers from low to high which has color White

enter query: list down the price of sneakers from low to high which has color White
list down the price of sneakers from low to high which has color White
['list', 'down', 'the', 'price', 'of', 'sneaker', 'from', 'low', 'to', 'high', 'which', 'ha', 'color', 'White']
[('list', 'NN'), ('down', 'RP'), ('the', 'DT'), ('price', 'NN'), ('of', 'IN'), ('sneaker', 'NN'), ('from', 'IN'), ('low', 'JJ'), ('to', 'TO'), ('high', 'VB'), ('which', 'WDT'), ('ha', 'VBP'), ('color', 'NN'), ('White', 'NNP')]




['list', 'price', 'sneaker', 'color'] White []




Adidas Tennis Hu Shoes	 110 Pounds	 White
1s Travis Low Cactsus Jack	 179 Pounds	 White, Green and Brown
LeBron XXI Akoya	 185.49 Pounds	 White
Air Jordan 4 Retro	 189 Pounds	 Blood Red and White